.chats-wrapper {
    margin-top: calc(70px + 1rem);
    margin-left: 10px;
   
}

.chats-wrapper .chats {
    display: flex;

}

.chats-wrapper .chats .chat-left {
    width: 400px;
    height: 600px;
    background: rgba(255, 255, 255, .5);
    border-radius: 20px;
   
}

.chats-wrapper .chats .chat-left .chat-left-top h2{
  font-weight: bold;
    
}

.chats-wrapper .chats .chat-left .list-chat{
     overflow-y: scroll;
}

.chats-wrapper .chats .chat-left input{
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 20px;
    outline: none;
   margin-left: 10px;
   padding: 10px;
}

.chats-wrapper .chats .chat-left .chat-left-top {
    display: flex;
    justify-content: space-around;
    gap: 2rem;
    padding-top: 10px;
}

.chats-wrapper .chats .chat-left .chat-left-top span {
    border: 2px solid gray;
    border-radius: 50%;
    background-color: gray;
    width: 40px;
    height: 40px;
    display: flex;
    /* Thêm để căn giữa */
    align-items: center;
    /* Căn giữa theo chiều dọc */
    justify-content: center;
    /* Căn giữa theo chiều ngang */
}

.chats-wrapper .chats .chat-left .chat-left-top span i {
    display: inline-block;
    font-size: 20px;
    /* Điều chỉnh kích thước biểu tượng nếu cần */
    color: white;
    /* Màu của biểu tượng, bạn có thể thay đổi theo ý muốn */
}

.chats-wrapper .chats .chat-left input:hover {
    border: 2px solid #0883ff;
    box-shadow: 0px 0px 5px #0866ff;

}

.chats-wrapper .chats .chat-left-center {
    border-radius: 8px;
    padding: 0.5rem;
    display: flex;
    gap: 1rem;
    transition: .3s;
    cursor: pointer;
}

.chats-wrapper .chats .chat-left-center:hover {
    background: #ffd4bf;
}

.chats-wrapper .chats .chat-left-center .pic-avtar-messages {
    position: relative;

}

.chats-wrapper .chats .chat-left-center .pic-avtar-messages::before {

    content: '';
    position: absolute;
    width: 12px;
    height: 12px;
    background: #00ff2f;
    z-index: 10;
    border-radius: 50%;
    border: 2px solid #fff;
    right: 0px;
    bottom: 0px;
}

.chats-wrapper .chats .chat-left-center .pic-avtar-messages img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    border: 2px solid #fff;
}


.chats-wrapper .chats .chat-left-center  span {

    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
}


/* chat-center */
.chats .chat-center{
    width: 700px;
    height: 600px;
    background: rgba(255, 255, 255, .5);
    border-radius: 20px;
    margin-left: 10px;
}
.chats-wrapper .chats .chat-center .chat-center-chatbox {
    padding: 20px 10px  20px;
    display: flex;
    align-items: center;
}
.chats-wrapper .chats .chat-center .chat-center-chatbox {
    padding: 20px 10px  20px;
    display: flex;
    align-items: center;

}
.chats-wrapper .chats .chat-center .chat-center-chatbox .pic-avtar-messages-chat{
    position: relative;
    width: 45px;
    height: 45px;
}
.chats-wrapper .chats .chat-center .chat-center-chatbox  .pic-avtar-messages-chat::before{
    content: '';
    position: absolute;
    width: 12px;
    height: 12px;
    background: #00ff2f;
    z-index: 10;
    border-radius: 50%;
    border: 2px solid #fff;
    right: 0px;
    bottom: 0px;
}
.chats-wrapper .chats .chat-center .chat-center-chatbox .pic-avtar-messages-chat img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    border: 2px solid #fff;
}
.chats-wrapper .chats .chat-center .chat-center-chatbox .name{
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    padding-left: 10px;
}
.chats-wrapper .chats .chat-center .chat-center-chatbox .icon{
   margin-left: auto;
    display: flex;
    gap: 2rem;
    color: #0866ff;
  
}

/* content-chats
 */
 .chats-wrapper .chats .chat-center .the-end-chat-box{
   display: flex;
   gap: 3rem;
   padding-top: 60%;
 }
 .chats-wrapper .chats .chat-center .the-end-chat-box .icon-send-chatbox span{
    color: #0866ff;
   padding-left:5px ;
   font-size: 17px;
 }
 .chats-wrapper .chats .chat-center .the-end-chat-box label{
    position: relative;
    width: 500px;
 }
 .chats-wrapper .chats .chat-center .the-end-chat-box label input{
    width: 100%;
    height: 30px;
    border: none;
    border-radius: 20px;
    outline: none;
    padding: 10px;
    padding-right: 50px; /* Để chừa chỗ cho nút */
    box-sizing: border-box;
 }
 .chats-wrapper .chats .chat-center .the-end-chat-box label button{
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    background-color: transparent;
    cursor: pointer;
 }
 
 /* chat-right-setting */
 .chats .chat-right{
    width: 400px;
    height: 600px;
    background: rgba(255, 255, 255, .5);
    border-radius: 20px;
    margin-left: 10px;
 }
 .chats .chat-right .chat-right-setting .pic-avtar-messages-setting{
    position: relative;
    width: 60px;
    height: 60px;
 }

 .chats .chat-right .chat-right-setting .pic-avtar-messages-setting::before{
    content: '';
    position: absolute;
    width: 12px;
    height: 12px;
    background: #00ff2f;
    z-index: 10;
    border-radius: 50%;
    border: 2px solid #fff;
    right: 0px;
    bottom: 0px;
 }
 .chats .chat-right .chat-right-setting .pic-avtar-messages-setting img{

    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    border: 2px solid #fff;
 }