.page-freinds {
    display: grid;
    grid-template-columns: 20rem auto;
    height: calc(100vh - 70px);
    margin-top: 70px;
    padding: 1rem;
    gap: 1rem;
    overflow: hidden;
    border-radius: 1rem;
}

.page-freinds>div {
    background: rgba(255, 255, 255, .5);
    height: calc(100vh - 70px - 2rem);
    border-radius: 1rem;
}

.page-freinds div.pf-001 .list-options-friend-navbar{
    flex-direction: column;
    padding: 1rem;
}

.page-freinds div.pf-001 .list-options-friend-navbar a.option-friend-navbar{
    display: flex;
    gap: 1rem;
    font-size: 20px;
    padding: .5rem;
    border-radius: 8px;
    text-decoration: none;
    color: #000;
    transition: .3s;
    font-weight: bold;
}

.page-freinds div.pf-001 .list-options-friend-navbar a.option-friend-navbar:hover{
    background: #c2c2c2;
}

.page-freinds div.pf-002 {
    border-radius: 1rem 0 0 1rem;
    overflow-y: scroll;
}

.page-freinds div.pf-002 .none-friend{
    color: #696969;
    font-weight: bold;
}

.page-freinds div.pf-002::-webkit-scrollbar {
    width: 5px;
}

.page-freinds div.pf-002::-webkit-scrollbar-track {
    background: #696969;
}

.page-freinds div.pf-002::-webkit-scrollbar-thumb {
    background: #fffd80;
}

.page-freinds div.pf-002 {
    padding: 2rem;
}

.page-freinds div.pf-002 h3 {
    font-size: 20px;
    font-weight: bold;
}

.page-freinds div.pf-002 .list-friends {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2rem;
}

.page-freinds div.pf-002 .list-friends .card-friend {
    display: flex;
    flex-direction: column;
    background: #c2c2c2;
    border: 1px solid #696969;
    border-radius: 8px;
    overflow: hidden;
}

.page-freinds div.pf-002 .list-friends .card-friend img {
    height: 250px;
    width: 100%;
    object-fit: cover;
}

.page-freinds div.pf-002 .list-friends .card-friend .card-main {
    display: flex;
    flex-direction: column;
    padding: .5rem;
    gap: 0.5rem;
}

.page-freinds div.pf-002 .list-friends .card-friend .card-main span.name-friend {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.page-freinds div.pf-002 .list-friends .card-friend .card-main button.btn-add-friend {
    border-radius: 8px;
    background: #0d6efd;
    color: #fff;
    font-weight: bold;
    border: none;
    transition: .3s;
}

.page-freinds div.pf-002 .list-friends .card-friend .card-main button.btn-add-friend:hover {
    background: #0a58ca;
}

.page-freinds div.pf-002 .list-friends .card-friend .card-main button.btn-add-friend a{
    padding: .5rem;
    color: #fff;
    text-decoration: none;
    display: block;
    width: 100%;
    height: 100%;
}