header {
    width: 100%;
    height: 70px;
    background: rgba(255, 255, 255, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 6px #696969;
    position: fixed;
    top: 0;
    left: 0;
}

header .header_container {
    width: calc(100% - 2rem);
    height: calc(100% - 1rem);
    display: grid;
    grid-template-columns: 5rem 20rem auto 26rem;
    gap: 1rem;
    align-items: center;
}

header .header_container .logo {
    display: flex;

}

header .header_container .search {
    display: flex;
    align-items: center;
    background: #ffffff;
    gap: .5rem;
    padding: 0 20px 0 10px;
    height: 40px;
    border-radius: 1rem;
    width: 80%;
}

header .header_container .search input {
    width: 100%;
    outline: none;
    border: none;
}

header .header_container .navigation {
    display: flex;
    justify-content: space-around;
    font-size: 1.5rem;
}

header .header_container .header_left {
    display: flex;
    gap: 2rem;
    justify-content: flex-end;
    align-items: center;
}

header .header_container .header_left .notification {
    font-size: 1.5rem;
}

header .header_container .header_left .setting {
    width: 40px;
    height: 40px;
    background: #ffffff;
    border-radius: 50%;
    border: 3px solid #474646;
    position: relative;
}

header .header_container .header_left .setting .icon-dropdonw {
    position: absolute;
    bottom: -5px;
    right: -5px;
    background: #ffffff;
    border-radius: 50%;
}