@import url('./header.css');
@import url('./main.css');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    background: linear-gradient(-135deg, #ff7e7e, #fffd80);
    overflow: hidden;
}