* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    background: linear-gradient(-135deg, #ff7e7e, #fffd80);
    overflow: hidden;
}

.login-container {
    width: 500px;
    background: rgba(255, 255, 255, .5);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 15px #777;
    border-radius: 1rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login-container h2 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 2rem;
    text-transform: uppercase;
}

.login-container .login-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}

.login-container .login-form label {
    background: #ffffff;
    padding: 1rem;
    border-radius: .5rem;
    display: flex;
    gap: .5rem;
    align-items: center;
}

.login-container .login-form label input {
    width: 100%;
    font-size: 1rem;
    outline: none;
    border: none;
    background: none;
    font-weight: bold;
}
.login-container .login-form label.btn-submit{
    background: #ff7e7e;
    color: #fff;
    cursor: pointer;
}

.login-container .login-form label.btn-submit input{
    color: #fff;
    text-transform: uppercase;
}

.login-container>div{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}

.login-container>div a{
    text-decoration: none;
    color: blue;
}
.login-container .alert-success{
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
    padding: 15px;
    margin: 10px 0;
    border-radius: 5px;
    display: block; /* Đảm bảo hiển thị thông báo */
}