.profile{
    position: relative;
    display: grid;
    grid-template-columns: 18rem auto 20rem;
    gap: 1rem;
}
.profile .profile-left .info-card{
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    background-color: #ffffff;
    padding: 1rem;
    border-radius: 1rem;
    width: 90%;
}





main {
    display: grid;
    grid-template-columns: 24rem auto 24rem;
    height: calc(100vh - 70px);
    gap: 1rem;
    overflow-y: scroll;
    margin-top: calc(70px);
}

main::-webkit-scrollbar {
    width: 5px;
}

main::-webkit-scrollbar-track {
    background: #696969;
}

main::-webkit-scrollbar-thumb {
    background: #fffd80;
}

main .container_navbar,
main .container_posts,
main .container_sidebar {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

main .navbar {
    background: rgba(255, 255, 255, .5);
    width: calc(100% - 3rem);
    height: calc(100% - 2rem);
    border-radius: 1rem;
}

main .sidebar {
    /* background: rgba(255, 255, 255, .5); */
    overflow: hidden;
    position: fixed;
    top: calc(1rem + 70px);
    bottom: 1rem;
    left: 1rem;
    width: 20rem;
    border-radius: 1rem;
}

main .container_sidebar .sidebar .card-profile {
    border: 3px #fff solid;
    background: linear-gradient(0deg, #ff7e7e, #fffd80);
    padding: 1rem;
    border-radius: 1rem;
    color: #fff;
}

main .container_sidebar .sidebar .card-profile .profile-picture {
    text-align: center;
}

main .container_sidebar .sidebar .card-profile .profile-picture img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

main .container_sidebar .sidebar .card-profile .name {
    font-size: 24px;
    color: #000000;
    font-weight: bold;
    text-align: center;
}

main .container_sidebar .sidebar .card-profile .bio {
    font-size: 20px;
    color: #696969;
    text-align: center;
}

main .container_sidebar .sidebar .card-profile .data {
    display: flex;
    justify-content: space-between;
}

main .container_sidebar .sidebar .card-profile .data>div {
    width: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main .container_sidebar .sidebar .card-profile .data>div>span {
    font-size: 20px;
    font-weight: bold;
}

main .container_sidebar .sidebar>.followers {
    height: calc(100% - 286px - 1rem);
    overflow: hidden;
}

main .container_sidebar .sidebar>.followers h3 {
    font-size: 20px;
    padding: 1rem;
}

main .container_sidebar .sidebar>.followers hr {
    margin: 0 1rem;
}

main .container_sidebar .sidebar>.followers .list-followers {
    overflow-y: scroll;
    /* padding: 1rem; */
    height: calc(100% - 57px);
}

main .container_sidebar .sidebar>.followers .list-followers::-webkit-scrollbar {
    width: 5px;
}

main .container_sidebar .sidebar>.followers .list-followers::-webkit-scrollbar-track {
    background: #696969;
}

main .container_sidebar .sidebar>.followers .list-followers::-webkit-scrollbar-thumb {
    background: #ff7e7e;
}

main .container_sidebar .sidebar>.followers .list-followers .item-follower {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5rem;
}

main .container_sidebar .sidebar>.followers .list-followers .item-follower .info-follower {
    display: flex;
    align-items: center;
    gap: 1rem;
}

main .container_sidebar .sidebar>.followers .list-followers .item-follower .info-follower .avarta-follower img {
    width: 54px;
    height: 54px;
    border-radius: 50%;
    object-fit: cover;
}

main .container_sidebar .sidebar>.followers .list-followers .item-follower .info-follower .name-follower {
    font-size: 20px;
    font-weight: bold;
}

main .container_sidebar .sidebar>.followers .list-followers .item-follower .btn-follow {
    background: #ff7e7e;
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    font-weight: bold;
    font-size: 16px;
    border: none;
    cursor: pointer;
    transition: .3s;
}

main .container_sidebar .sidebar>.followers .list-followers .item-follower .btn-follow:hover {
    background: #fffd80;
    color: #000;
    box-shadow: 0 0 5px #696969;
}